@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {
    box-sizing: border-box;
    font-family: ubuntu;
}

body {
    margin: 0;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(1, 35, 65);
    color: white;
}

nav div a {
    color: white;
    text-decoration: none;
    padding: 5px 20px;
}

section {
    max-width: 700px;
    margin: 20px auto;
    background-color: blanchedalmond;
    padding: 20px;
    border: 1px solid rgb(209, 202, 202);
    border-radius: 4px;
}

table {
    width: 100%;
    border: 1 solid;
    border-collapse: collapse;
    border-radius: 10px;
}

tr, td {
    border: 1px solid;
    padding: 10px;
}

tr:hover {
    background-color: rgb(216, 210, 208);
}

thead {
    background-color: rgb(216, 210, 208);
    font-weight: bolder;
}

section div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button {
    padding: 10px 20px;
    border-radius: 5px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */

  .modal-content {
    background-color: #fefefe;
    margin: 1% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
  }

  .modal-content form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
  }

.modal-content form input[sibmit] {
        border-radius: 5px;
}
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }